.line1 {
  background-color: #ef1e25;
}
.line2 {
  background-color: #029a55;
}
.line3 {
  background-color: #0252a2;
}
.line4 {
  background-color: #019ee0;
}
.line5 {
  background-color: #745c2f;
}
.line6 {
   background-color: #fbaa33;
 }
.line7 {
  background-color: #b61d8e;
}
.line8 {
  background-color: #ffd803;
}
.line9 {
  background-color: #ffd803;
}
.line10 {
  background-color: #acadaf;
}
.line11 {
  background-color: #37d318;
}
.line12 {
  background-color: #5bbebb;
}
.line13 {
  background-color: #5bbebb;
}
.line14 {
  background-color: #85d4f3;
}
.line15 {
  background-color: #ef1e25;
}
.line16 {
  background-color: #ffa8af;
}
.sphere {
  height: 10px;
  width: 10px;
  border-radius: 50%;

  text-align: right;
  vertical-align: middle;
  position: relative;
  display: inline-block;

}
.sphere::after {
  background-color: rgba(255, 255, 255, 0.3);
  content: '';

  position: absolute;
  top: 4%;
  left: 15%;
  border-radius: 50%;
  transform: rotate(40deg);
}

.App {
  text-align: center;
}

.select {
  width: 15%;
  display: inline-block;
  text-align: left;
}

.selectblock {
  align: center;
}

#middlediv {
  align: center;
  display: inline-block;
}

#pathtable {
  align: center;
  width: 50%;
  display: inline-block;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
